#svgTest {
  margin: 15px auto;
  display: block;
}

#rooms_display {
  width: 90%;
  height: 750px;
  border: solid 2px black;
  border-radius: 10px;
  margin: auto auto;
  display: block;
}

.room {
  float: left;
  border: solid 3px black;
  height: 45%;
  width: 22%;
  margin: 1%;
  display: block;
}

#sharesDiv {
  display: table;
}

.shares {
  float: left;
  margin-left: 15px;
}

.cost, .percent {
  text-align: center;
}