#rooms_display {
  width: 90%;
  height: 1000px;
  border: solid 4px black;
  border-radius: 10px;
  margin: auto auto;
  background-color: yellow;
  display: block;
}

.room {
  float: left;
  border: solid 3px black;
  height: 25%;
  width: 20%;
}
